<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech to Text</title>
    <link rel="stylesheet" href="/../static/playground/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Speech to Text</h2>
        <button id="start-btn">
            <img src="mic-icon.png" alt="Mic" id="mic-icon">
        </button>
        <textarea id="text-output" placeholder="Your speech will appear here..."></textarea>
        <button id="compliment-button">Message for you visalya</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/../static/playground/js/script.js"></script>
</body>
</html>
